@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

@-moz-keyframes fadeout { /* Firefox */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

@-o-keyframes fadeout { /* Opera */
    from {
        opacity:1;
    }
    to {
        opacity:01;
    }
}
