<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="main-info">
	<style>
    :host {
      width: 100%;
      height: 100%;
      background-color: red;
      z-index: 2;
    }
  </style>
	<template>
    <!-- <span style="font-size: 40px;font-weight: 300;z-index: 120;color: #fff;font-family: 'Dosis', sans-serif;">VALENTIN DRAGANOV</span> -->
	</template>
	<script>
		Polymer({
			is: 'main-info',

      properties: {
      },

			behaviors: []
    })
	</script>
</dom-module>
